doctype html
html(lang="en")
    head
        meta(charset="utf-8")

        title no &middot; problem
        link(rel="stylesheet", href="/css/style.css")
    body
        .wrapper
            header
                h1 no &middot; problem
                
                if realm
                    span.realm= realm

                block header
            .main
                block content

        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
        if scripts
            each script in scripts
                script(src=script)