@import url("http://fonts.googleapis.com/css?family=Noto+Sans");

$blue: #2462AA;

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Noto Sans", sans-serif;
}

header {
    border-top: .5em solid $blue;
    color: darken($blue, 10%);
    
    h1, .realm {
        display: inline-block;

        margin: 0;
        padding: 1em 0 1em 1em;
    
        font-size: 2em;
    }

    .realm {
        color: desaturate(lighten($blue, 30%), 50%);
    
        &::before {
            content: "/";
            margin-right: 1em;
        }
    }
}
