extends ../layout

block content
    h2 Repositories
    ul.list.mirror-list
        each mirror in mirrors
            li
                input(type="checkbox", checked=!!mirror.active, data-mirror-id=mirror.id)
                span= mirror.repository